* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}

.card {

    height: 500px;
    width: 400px;
    border: 0px solid black;
    border-radius: 16px;
    box-shadow: 9px 9px 12px 2px rgba(0, 0, 0, 0.128), -9px -6px 12px 2px rgba(0, 0, 0, 0.128);


}

.images {
    display: block;
    margin: -93px auto;
    width: 130px;
    height: 135px;
    border-radius: 50%;
    border: 2px solid white;

 

}


.label {
    height: 120px;
    width: 100%;
    /* display:none; */

    background: rgb(249, 139, 5);
    border: 0px solid black;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
}

.icons {

    width: 100%;
    height: 60px;
    margin-top: 21px;
    margin-left: 9px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    /* border:0px solid red; */


}

.fa-brands {
    width: 50px;
    height: 50px;
    font-size: 35px;
    text-decoration: none;
    /* color:blueviolet; */
    color: black;
    transition: transform 0.5s;

}

.fa-brands:hover {
    /* color:rgb(255, 255, 0);  */
    transform: translateY(-5px);
}

.bio {
    width: 100%;
    text-align: center;
    margin-top: 94px;
    font-family: cursive;

    

    /* border:2px solid red; */
}
h1{
    -webkit-text-stroke:2px black;
    color:orange;
}
.buttons {
    height: 35px;
    width: 131px;
    color: rgb(0, 0, 0);
    background-color: orange;
    border: 1px solid rgb(255, 196, 0);
    border-radius: 15px;
    margin-left: 35px;
    margin-top: 20px;
    margin-right: 30px;
    font-size: 12px;
    font-family: cursive;
    font-weight: bolder;
}

.buttons:hover {
    background-color: rgb(255, 0, 81);
    cursor: pointer;
    font-size: 14px;
}

.fa-facebook {
    color: rgb(0, 98, 255);

}

.fa-twitter {
    color: rgb(0, 98, 255);

}

.fa-instagram {
    color: rgb(255, 96, 122);

}

.fa-linkedin-in {
    color: rgb(0, 98, 255);

}

.line {
    width: 100%;
    height: 10px;
    border: px solid black;
    margin-top: 12px;
    /* box-shadow:0px 5px rgba(0, 0, 0, 0.128) */
    box-shadow: 0px 9px 19px -1px  rgba(0, 0, 0, 0.128);

}
.anish{
    margin:28px;
    padding:5px;
    text-align: center;
   

}
.numbers{
    margin-top:15px;
    margin-left:12px;
    display: flex;
}
.anish span{
    color:rgb(255, 140, 0);
}


@media only screen and (max-width:300px){
    .buttons{
        margin-left: 20px;
        margin-top: 20px;
        margin-right: 30px;
    }
    .card{
             margin-left:14px; 
             height: 500px;
             width: 350px; 
    }

}
@media only screen and (min-width:300px)and (max-width:500px)  {
    .buttons{
        margin-left: 20px;
        margin-top: 20px;
        margin-right: 30px;
    }
    .card{
        margin-left:14px; 
        
}
   
}
